<script>
  // localStorage.getItem(title);
  document.getElementById("naam").innerHTML = localStorage.getItem("title");
</script>
<div class="container">
  <form>
    <div class="card" >
    <div class="form-group card-body">
      <label for="title">Naam challenge:</label>
      <input type="text" class="form-control" id="title">

      <label for="points">Aantal punten:</label>
      <input type="text" class="form-control" id="points">
      <br/>
      <div  style="text-align: center">
        <a  href="#" class="btn btn-primary m-1">Toevoegen</a>
        <a href="#" class="btn btn-primary m-1">Aanpassen</a>
        <a href="#" class="btn btn-primary m-1">Verwijderen</a>
      </div>

    </div>
    </div>
  </form>

</div>
