<div class="container">
  <form>
    <div class="card" >
    <div class="form-group card-body">
      <label for="naam">Naam challenge:</label>
      <input type="text" class="form-control" id="naam">
      <label for="punten">Aantal punten:</label>
      <input type="text" class="form-control" id="punten">
      <br/>
      <div  style="text-align: center">
        <a  href="#" class="btn btn-primary m-1">Toevoegen</a>
        <a href="#" class="btn btn-primary m-1">Aanpassen</a>
        <a href="#" class="btn btn-primary m-1">Verwijderen</a>
      </div>

    </div>
    </div>
  </form>

</div>
