<form class="card" #f="ngForm" (submit)="setUser(f.value)">
  <div class="card-header">
    Login
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" class="form-control"
             required
             minlength="3"
             name="myName"
             [(ngModel)]="user.name">
    </div>
    <div class="form-group">
      <label for="password">Wachtwoord</label>
      <input type="password" id="password" class="form-control"
             required
             name="myPassword"
             [(ngModel)]="user.password">
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">
        Login
      </button>
    </div>
  </div>
</form>
