<nav id="sidebar">
  <div class="sidebar-header">
    <h3>JStack Rewards</h3>
  </div>
  <ul class="list-unstyled components">
    <li>
      <a routerLink="challenge" [class.activated]="currentUrl == '/challenges'">
        <i class="fas fa-fw fa-bullhorn"></i> Challenges
      </a>
    </li>
    <li>
      <a routerLink="reward" [class.activated]="currentUrl == '/reward'">
        <i class="fas fa-fw fa-award"></i> Rewards
      </a>
    </li>
    <li>
      <a routerLink="achievements" [class.activated]="currentUrl == '/achievements'">
        <i class="fas fa-fw fa-trophy"></i> Achievements
      </a>
    </li>
    <li>
      <a routerLink="login" [class.activated]="currentUrl == '/login'">
        <i class="fas fa-fw fa-sign-out-alt"></i> Logout
      </a>
    </li>
  </ul>
</nav>
