nav {
    background: #068587;
    height: 100%;
    width: 120px;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;

        li {

            a {
                color: #fff;
                padding: 20px;
                display: block;
            }

            a:hover {
                background-color: #ED553B;
            }

            .activated {
                background-color: #F2B134;
            }
        }
    }
    
}

.btn {
    cursor: pointer;
}

.btn-outline-secondary {
    cursor: not-allowed;
}

.navbar-text {
    font-size: 70%;
    color: white !important;
}

.avatar {
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}