<div class="row">
  <div class="col-lg-6 col-md-12 mb-3 d-flex">
    <div class="card flex-fill">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="claimTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="claims-tab" data-toggle="tab" href="#claims" role="tab" aria-controls="claims" aria-selected="true"><i class="fas fa-fw fa-award"></i> Reward claims</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="claimsHistory-tab" data-toggle="tab" href="#claimHistory" role="tab" aria-controls="claimHistory" aria-selected="true"><i class="fas fa-fw fa-history"></i> History</a>
          </li>
        </ul>
      </div>
      <div class="card-body tab-content" id="tabclaim">
          <div class="tab-pane fade show active" id="claims" role="tabpanel" aria-labelledby="claims-tab">
            <div style="overflow: auto; min-height: 100px; max-Height: 500px;">
              <div *ngFor="let claim of claimList; index as i" class="list-group">
                <div class="list-group-item">
                  <span class="mr-3 font-weight-bold">{{claim.user_id.name}},</span> {{claim.reward_id.title}}
                  <button type="button" style="float: right" (click)="rewardReceived(i)" class="btn btn-succes"><i class="fa fa-check-square" aria-hidden="true"></i></button>
                  <br>
                  <span class="small">{{ claim.date | date:'dd-LL-yy, H:mm' }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="claimHistory" role="tabpanel" aria-labelledby="claimsHistory-tab">
            <div style="overflow: auto; min-height: 100px; max-Height: 500px;">
              <div *ngFor="let claim of claimHistoryList" class="list-group">
                <div class="list-group-item">
                  <span class="mr-3 font-weight-bold">{{claim.user_id.name}},</span> {{claim.reward_id.title}}
                  <br>
                  <span class="small">{{ claim.date | date:'dd-LL-yy, H:mm' }}</span>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-12 mb-3 d-flex">
    <div class="card flex-fill">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="requestTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="requests-tab" data-toggle="tab" href="#requests" role="tab" aria-controls="requests" aria-selected="true"><i class="fas fa-fw fa-bullhorn"></i> Challenge requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="requestsHistory-tab" data-toggle="tab" href="#requestsHistory" role="tab" aria-controls="requestsHistory" aria-selected="true"><i class="fas fa-fw fa-history"></i> History</a>
          </li>
        </ul>
      </div>
      <div class="card-body tab-content" id="tabrequest">
        <div class="tab-pane fade show active" id="requests" role="tabpanel" aria-labelledby="requests-tab">
          <div style="overflow: auto; min-height: 100px; max-Height: 500px;">
            <div *ngFor="let request of requestList; index as i" class="list-group">
              <div class="list-group-item">
                <span class="mr-3 font-weight-bold">{{request.user_id.name}},</span> {{request.challenge_id.title}}
                <div style="float:right">
                  <button type="button" (click)="acceptRequest(i)" class="btn btn-succes mr-3"><i class="fa fa-check-square" aria-hidden="true"></i></button>
                  <button type="button"  (click)="deleteRequest(i)" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>


                </div>

                <br>
                <span>{{request.motivation}}</span>
                <br>
                <span class="small">{{ request.date | date:'dd-LL-yy, H:mm' }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="requestsHistory" role="tabpanel" aria-labelledby="requestsHistory-tab">
          <div style="overflow: auto; min-height: 100px; max-Height: 500px;">
            <div *ngFor="let request of requestHistoryList" class="list-group">
              <div class="list-group-item">
                <span class="mr-3 font-weight-bold">{{request.user_id.name}},</span> {{request.challenge_id.title}}
                <br>
                <span>{{request.motivation}}</span>
                <br>
                <span class="small">{{ request.date | date:'dd-LL-yy, H:mm' }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 mb-3 d-flex">
    <div class="card flex-fill">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="rewardTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="reward-tab" data-toggle="tab" href="#rewards" role="tab" aria-controls="rewards" aria-selected="true"><i class="fas fa-fw fa-award"></i> Rewards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="rewardCreate-tab" data-toggle="tab" href="#rewardCreate" role="tab" aria-controls="rewardCreate" aria-selected="true"><i class="fas fa-fw fa-plus"></i> Add new reward</a>
          </li>
        </ul>
      </div>
      <div class="card-body tab-content" id="tabrewards">
        <div class="tab-pane fade show active" id="rewards" role="tabpanel" aria-labelledby="reward-tab">
          <div style="overflow: auto; min-height: 100px; max-Height: 500px;">
            <div *ngFor="let reward of rewardsList" class="list-group ">
              <div class="list-group-item">
                <span class="mr-3 font-weight-bold">{{reward.title}},</span> {{reward.points}} <i class="fas fa-fw fa-coins"></i>
                <div style="float: right">
                 
                  <a type="button" href="rewardForm" (click)="passDataReward(reward.title, reward.points, reward._id)" class="btn btn-warning mr-3"><i class="fa fa-edit" aria-hidden="true"></i></a>
                  <button type="button"  (click)="removeReward(reward._id)" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>                
                </div>
             </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="rewardCreate" role="tabpanel" aria-labelledby="rewardsHistory-tab">
          <div style="overflow: auto; min-height: 100px; max-Height: 500px;">
            <form>
              <div class="card" >
                <div class="form-group card-body">
                  <label for="titlereward">Naam reward:</label>
                  <input type="text" class="form-control" id="titlereward">
                  <label for="pointsreward">Aantal punten:</label>
                  <input type="text" class="form-control" id="pointsreward">
                  <div class="alert alert-success" role="alert" *ngIf="success">
                    Reward is succesvol toegevoegd!
                  </div>
                  <br/>
                  <div  style="text-align: center">
                    <a (click)="addReward()" class="btn text-white btn-primary m-1">Toevoegen</a>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-12 mb-3 d-flex">
    <div class="card flex-fill">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="challengeTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="challenge-tab" data-toggle="tab" href="#challenges" role="tab" aria-controls="challenges" aria-selected="true"><i class="fas fa-fw fa-bullhorn"></i> Challenges</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="challengeCreate-tab" data-toggle="tab" href="#challengeCreate" role="tab" aria-controls="challengeCreate" aria-selected="true"><i class="fas fa-fw fa-plus"></i> Add new challenge</a>
          </li>
        </ul>
      </div>
      <div class="card-body tab-content" id="tabchallenges">
        <div class="tab-pane fade show active" id="challenges" role="tabpanel" aria-labelledby="challenges-tab">
          <div style="overflow: auto; min-height: 100px; max-Height: 500px;">
            <div *ngFor="let challenge of challengesList" class="list-group ">
              <div class="list-group-item">
                <span class="mr-3 font-weight-bold">{{challenge.title}},</span> {{challenge.points}} <i class="fas fa-fw fa-coins"></i>
                <div style="float:right">
                  
                  <a type="button"  href="challengeForm" (click)="passDataChallenge(challenge.title, challenge.points, challenge._id)" class="btn btn-warning mr-3"><i class="fa fa-edit" aria-hidden="true"></i></a>
                  <button type="button"  (click)="removeChallenge(challenge._id)" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
                
              </div>
            </div>
         </div>
        </div>

        <div class="tab-pane fade" id="challengeCreate" role="tabpanel" aria-labelledby="requestsHistory-tab">
          <div style="overflow: auto; min-height: 100px; max-Height: 500px;">
            <form>
              <div class="card" >
                <div class="form-group card-body">
                  <label for="titlechallenge">Naam challenge:</label>
                  <input type="text" class="form-control" id="titlechallenge">

                  <label for="pointschallenge">Aantal punten:</label>
                  <input type="text" class="form-control" id="pointschallenge">
                  <div class="alert alert-success" role="alert" *ngIf="success">
                    Challenge is succesvol toegevoegd!
                  </div>
                  <br/>
                  <div  style="text-align: center">
                    <a (click)="addChallenge()" class="btn text-white btn-primary m-1">Toevoegen</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 mb-3 d-flex">
    <div class="card flex-fill">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="employeeTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="employee-tab" data-toggle="tab" href="#employees" role="tab" aria-controls="employees" aria-selected="true"><i class="fas fa-fw fa-users"></i> Employees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="employeeCreate-tab" data-toggle="tab" href="#employeeCreate" role="tab" aria-controls="employeeCreate" aria-selected="true"><i class="fas fa-fw fa-user-plus"></i> Add new employee</a>
          </li>
        </ul>
      </div>
      <div class="card-body tab-content" id="tabemployees">
        <div class="tab-pane fade show active" id="employees" role="tabpanel" aria-labelledby="employees-tab">
          <div style="overflow: auto; min-height: 100px; max-Height: 500px;">
            <div *ngFor="let user of usersList" class="list-group">
              <div class="list-group-item">
                <span class="mr-3 font-weight-bold">{{user.name}},</span> {{user.currentPoints}} <i class="fas fa-fw fa-coins"></i>
                <!--<button type="button" style="float: right" (click)="deleteUser(user._id)" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>-->
                <!--</button>-->
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="employeeCreate" role="tabpanel" aria-labelledby="requestsHistory-tab">
          <div style="overflow: auto; min-height: 100px; max-Height: 500px;">
            <form #f="ngForm" (submit)="addUser(f.value)">
              <div class="card" >
                <div class="form-group card-body">
                  <label for="name" >Naam medewerker:</label>
                  <input type="text" id="name" class="form-control"
                         required
                         minlength="3"
                         name="name"
                         [(ngModel)]="user.name">
                  <label for="password">Wachtwoord:</label>
                  <input type="password" id="password" class="form-control"
                         required
                         name="password"
                         [(ngModel)]="user.password">
                  <div class="row m-2">
                    <label for="points">punten:</label>
                    <div class="col-2">
                      <input type="text" width="40px" id="points" class="form-control"
                             required
                             name="points"
                             [(ngModel)]="user.points">
                    </div>
                  </div>
                  <div class="alert alert-success" role="alert" *ngIf="success">
                    Gebruiker is succesvol toegevoegd!
                  </div>
                  <br/>
                  <div  style="text-align: center">
                    <button type="submit" class="btn text-white btn-primary m-1">Toevoegen</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
