<div class="row">
  <div class="col-xl-6 col-md-12 mb-3 d-flex">
    <div class="card flex-fill">
      <h5 class="card-header"><i class="fas fa-fw fa-bullhorn"></i> Challenges</h5>
      <div class="card-body">
        <h5 class="card-title">Challenges aanpassen</h5>
        <div style="overflow: visible; Height: 500px;">
          Aanmaken/updaten/verwijderen van mogelijke opdrachten en de daaraan gekoppelde punten<br>
          Bepalen hoeveel ‘credits’ welke uitdaging heeft
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-md-12 mb-3 d-flex">
    <div class="card flex-fill">
      <h5 class="card-header"><i class="fas fa-fw fa-award"></i> Rewards</h5>
      <div class="card-body">
        <h5 class="card-title">Rewards aanpassen</h5>
        <div style="overflow: visible; Height: 500px;">
          Toekennen van rewards voor een ingegeven ‘event’ van een medewerker<br>
          Als medewerker een opdracht heeft voltooid moet de administrator zijn toestemming geven om de rewards uit te keren
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-md-12 mb-3 d-flex">
    <div class="card flex-fill">
      <h5 class="card-header"><i class="fas fa-fw fa-trophy"></i> Achievements</h5>
      <div class="card-body">
        <h5 class="card-title">Achievements aanpassen</h5>
        <div style="overflow: visible; Height: 500px;">

        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-md-12 mb-3 d-flex">
    <div class="card flex-fill" >
      <h5 class="card-header"><i class="fas fa-fw fa-user"></i> Employees</h5>
      <div class="card-body">
        <h5 class="card-title">Medewerkers aanpassen</h5>
        <div style="overflow: visible; Height: 500px;">
          Aanmaken/updaten/verwijderen van medewerkers
        </div>
      </div>
    </div>
  </div>
</div>
