<div class="row">
  <div class="col-xl-6 col-md-12 mb-3 d-flex">
    <div class="card flex-fill">
      <h5 class="card-header"><i class="fas fa-fw fa-bullhorn"></i> Challenges</h5>
      <div class="card-body">
        <div style="overflow: auto; Height: 500px;">
          <div *ngFor="let challenge of challengesList" class="list-group">
            <a href="challengeForm"  (click)="gegevensMeegeven(challenge.title, challenge.points)"  class="list-group-item">{{challenge.title}} - {{challenge.points}} <i class="fas fa-fw fa-coins"></i></a>
            <script>
              localStorage.setItem('title', '{{challenge.title}}');
            </script>
          </div>
          Aanmaken/updaten/verwijderen van mogelijke opdrachten en de daaraan gekoppelde punten<br>
          Bepalen hoeveel ‘credits’ welke uitdaging heeft
          <br>
          <a href="challengeForm"> nieuwe challenge aanmaken</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-md-12 mb-3 d-flex">
    <div class="card flex-fill">
      <h5 class="card-header"><i class="fas fa-fw fa-award"></i> Rewards</h5>
      <div class="card-body">
        <div style="overflow: auto; Height: 500px;">
          <div  *ngFor="let reward of rewardsList" class="list-group">
            <a href="#" class="list-group-item">{{reward.title}} - {{reward.points}} <i class="fas fa-fw fa-coins"></i></a>
          </div>
          Toekennen van rewards voor een ingegeven ‘event’ van een medewerker<br>
          Als medewerker een opdracht heeft voltooid moet de administrator zijn toestemming geven om de rewards uit te keren
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-md-12 mb-3 d-flex">
    <div class="card flex-fill">
      <h5 class="card-header"><i class="fas fa-fw fa-trophy"></i> Goedkeuring requests</h5>
      <div class="card-body">
        <h5 class="card-title">lijst requests die goedkeuring nodig hebben</h5>
        <div style="overflow: visible; Height: 500px;">

        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-md-12 mb-3 d-flex">
    <div class="card flex-fill" >
      <h5 class="card-header"><i class="fas fa-fw fa-user"></i> Employees<a href="employeeForm" type="button" style="float: right" class="btn text-white btn-succes"><i class="fa fa-plus" aria-hidden="true"></i>
      </a></h5>
      <div class="card-body">
        <h5 class="card-title">Medewerkers aanpassen</h5>
        <div style="overflow: visible; Height: 500px;">
          <div *ngFor="let user of usersList" class="card mb-2 bg-info text-white">
            <div class="card-body">{{user.name}}
              <button type="button" style="float: right" (click)="deleteUser(user.id)" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
