<div class="container">
  <form #f="ngForm" (submit)="addUser(f.value)">
    <div class="card" >
    <div class="form-group card-body">
      <label for="name" >Naam medewerker:</label>
      <input type="text" id="name" class="form-control"
      required
      minlength="3"
      name="name"
      [(ngModel)]="user.name">
      <label for="password">Wachtwoord:</label>
      <input type="password" id="password" class="form-control"
      required
      name="password"
      [(ngModel)]="user.password">
      <div class="row m-2">
        <label for="punten">punten:</label>
        <div class="col-2">
          <input type="text" width="40px" id="punten" class="form-control"
          required
          name="punten"
          [(ngModel)]="user.punten">
        </div>
      </div>

      <br/>
      <div  style="text-align: center">
        <button type="submit" class="btn text-white btn-primary m-1">Toevoegen</button>
      </div>
    </div>
    </div>
  </form>

</div>
