<div class="container">
  <!-- Hier punten weergeven-->
  <div class="card text-center bg-success">
    <div class="card-body">
      <h3 class="card-title">Uw punten</h3>
      <h1 class="card-title">35</h1>
      <p class="card-text">Nog 15 punten voor je de volgende prijs "Puppy" kan winnen!</p>
      <!-- <p><ngb-progressbar type="warning" [value]="75" [striped]="true" [animated]="true"><i>50%</i></ngb-progressbar></p> -->
    </div>
  </div>

  <div class="row">
    <div class="col-xl-3 col-lg-4 col-sm-6 mt-3">
      <div class="card text-center bg">
        <div class="card-body">
          <h5 class="card-title">Bak bier</h5>
          <p class="card-text">15 punten</p>
          <a href="#" class="btn btn-primary">Reward innen</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6  mt-3">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Bon bol.com (25 euro)</h5>
          <p class="card-text">25 punten</p>
          <a href="#" class="btn btn-primary">Reward innen</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6  mt-3">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Fles champagne</h5>
          <p class="card-text">30 punten</p>
          <a href="#" class="btn btn-primary">Reward innen</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6  mt-3">
      <div class="card text-center" >
        <div class="card-body">
          <h5 class="card-title">Puppy</h5>
          <p class="card-text">50 punten</p>
          <a href="#" class="btn btn-primary">Reward innen</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6  mt-3">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Reis Aruba</h5>
          <p class="card-text">3000 punten</p>
          <a href="#" class="btn btn-primary disabled">Reward innen</a>
        </div>
      </div>
    </div>
  </div>
</div>
