/* You can add global styles to this file, and also import other style files */

// Overschrijf BS variabelen en mixins
$theme-colors: (
        'primary': #009CAB,
        'danger': #F04C25,
        'salmon' : salmon
);

// Link naar BS en FA
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// Eigen code/partials


body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

#container {
   display: grid;
   grid-template-columns: 70px auto;
   height: 100%;

   #content {
       padding: 30px 50px;
       margin-left: 20px;

       .card{
           margin: 10px;
       }

   
    }
   
}