/* You can add global styles to this file, and also import other style files */

// BS variabelen en mixins
$theme-colors: ();

// Link to BS en FA
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// Colors

$black: #35404A;
$blue: #0DAEE1;
$green: #73B644;
$yellow: #F39800;
$white: #FEFEFE;

// Overschrijf BS variabelen en mixins




