<div class="card text-center">
  <div class="card-header">
    <h5 class="card-title">Totaal verdiende punten</h5>
  </div>
  <div class="card-body">
    <h1 class="card-title">765</h1>
  </div>
</div>

<div class="row">
  <div class="col-xl-4 col-md-6 col-sm-12 mt-3 d-flex">
    <div class="card flex-fill">
      <div class="card-body">
        <h4 class="card-title">Blog Post</h4>
        <p class="card-text">Aantal Blogposts geschreven : </p>
        <p><span>Aantal : </span>7</p>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-6 col-sm-12 mt-3 d-flex">
    <div class="card flex-fill">
      <div class="card-body">
        <h4 class="card-title">Presentatie(s) gegeven</h4>
        <p class="card-text">Aantal Blogposts geschreven : </p>
        <p><span>Aantal : </span>7</p>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-6 col-sm-12 mt-3 d-flex">
    <div class="card flex-fill">
      <div class="card-body">
        <h4 class="card-title">Nieuwe technologieën onderzocht</h4>
        <p class="card-text">Aantal Blogposts geschreven : </p>
        <p><span>Aantal : </span>7</p>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-6 col-sm-12 mt-3 d-flex">
    <div class="card flex-fill">
      <div class="card-body">
        <h4 class="card-title">Conferentie(s)</h4>
        <p class="card-text">Aantal Blogposts geschreven : </p>
        <p><span>Aantal : </span>7</p>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-6 col-sm-12 mt-3 d-flex">
    <div class="card flex-fill">
      <div class="card-body">
        <h4 class="card-title">Meetup's</h4>
        <p class="card-text">Aantal Blogposts geschreven : </p>
        <p><span>Aantal : </span>7</p>
      </div>
    </div>
  </div>
</div>
