<div class="container">
  <form>
    <div class="card" >
    <div class="form-group card-body">
      <label for="title">Naam reward:</label>
      <input type="text" class="form-control" id="title">
      <label for="points">Aantal punten:</label>
      <input type="text" class="form-control" id="points">
      <br/>
      <div  style="text-align: center">
        <a (click)="addReward()" class="btn text-white btn-primary m-1">Toevoegen</a>
        <a (click)="editReward()" class="btn text-white btn-primary m-1">Aanpassen</a>
        <a (click)="removeReward()" class="btn text-white btn-primary m-1">Verwijderen</a>
      </div>

    </div>
    </div>
  </form>

</div>
